<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.Baza_edytowanaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Documents\Documents\Studia\3\Inżynieria programowania\Baza_edytowana.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp1.Properties.Settings.Baza_danych__accdb1_nowaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Baza danych .accdb1_nowa.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp1.Properties.Settings.Baza_danych_nowaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Baza danych nowa.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>